/* ---IMPORTAÇÃO DE FONTES--- */
@font-face {
    font-family: "Chirp-Heavy";
    src: url(../fontes/Chirp-Heavy.ttf);
}

@font-face {
    font-family: "Chirp-Bold";
    src: url(../fontes/Chirp-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fontes/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fontes/Roboto-Light.ttf);
}

/* ---BODY E MAIN--- */
body {
    background-color: black;
    scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
    color: white; 
    font-family: "Chirp-Heavy";
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
}

.p-nao-tem-conta{
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto-Light";
}

.p-nao-tem-conta a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto-Light";
    color: #007bff;
}

/* HOME */
.containerHome{
    gap: 250px;
}

.esquerda img {
    width: 510px;
}

.esquerda {
    margin-left: 280px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.titulo1, .titulo2 {
    padding: 14px 0;
    transform: scale(1, 0.9); /* Transform que achata o texto */
    display: inline-block; /* Necessário para o transform funcionar */
}

.titulo1 {
    font-size: 70px;
}

.titulo2 {
    font-size: 36px;
}

.direita {
    color:#e7e9ea;
    padding: 25px;
    margin-top: 140px;
    margin-left: 15px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; 
    right: 0; 
}

.direita img {
    padding: 10px;
}

.ao-se-inscrever{
    transform: scale(1, 0.95);
    font-family: "Roboto-Light";
    text-overflow: unset;
    color: rgb(113, 118, 123);
    width: 300px;
    font-size: 11px;
}

.ao-se-inscrever a{
    transform: scale(1, 0.95);
    font-family: "Roboto-Light";
    text-decoration: none;
    color: #2f98ec;
}
/* ---BOTÕES--- */
.botaoGoogle,
.botaoApple,
.botaoCriarConta,
.botaoEntrar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 300px;
    margin: 2px 0;  /* distância entre os botões */
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.botaoGoogle {
    font-family: "Roboto-Regular";
    background-color: #fff;
}

.botaoApple {
    font-family: "Chirp-Heavy";
    background-color: #fff;
    font-weight: 700;
}

.botaoGoogle:hover, .botaoApple:hover{
    background-color: #e8e4e4;
    transition: background-color 0.3s ease;
}

.botaoGoogle img,
.botaoApple img{
    padding: 10px;
}

.botaoCriarConta {
    font-family: "Chirp-Heavy";
    background-color: #359df1;
    color: #fff;
}

.botaoCriarConta:hover {
    font-family: "Chirp-Heavy";
    background-color: #1a8cd8;
    transition: 0.3s ease;
}
.botaoEntrar {
    font-family: "Chirp-Heavy";
    background-color: #000000;
    color: #359df1;
    border: 1px solid rgb(83, 100, 113);
}

.botaoEntrar:hover{
  background-color: #08141c;
  transition: 0.3s ease;
}

.inscreverLink{
    color: #359df1;
    text-decoration: none;
    font-family: "Chirp-Bold";
}

/* ---"OU"--- */
.ouSpan {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .ouSpan::before,
  .ouSpan::after {
    content: "";
    flex: 1;
    height: 2px;  /
  }

  .ouSpan span {
    margin: 0 10px; /* Espaçamento lateral do texto */
    font-family: "Roboto-Light";
    font-size: 15px;
  }

  .ouSpan hr{
    width: 132px; 
    height: 2px; 
    background-color:#2f3336; 
    border: none;
  }

  /* INSCREVER-SE COM O GOOGLE */
.containerG {
    overflow: hidden;
    width: 1350px;
    height: 720px;
    margin: 50px auto;
    background-color: #0e0e0e;
    border-radius: 28px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.conteudo{
    margin-top: 5px;
    display: flex; /* Layout horizontal só aqui */
    justify-content: space-between;
    flex: 1; /* Faz o conteúdo ocupar o restante do espaço */
}

/* Cabeçalho */
.cabecalho-google, .cabecalho-google-2{
    font-family: "Roboto-Light";
    display: block;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #3a3a3a;
    font-size: 20px;
    color: #e0e0e0;
}
.cabecalho-google-2{
    color: #242421;
}

.cabecalho-google img {
    margin-right: 10px;
}

/* Títulos */
.googleEsq{
    /* background-color: aquamarine; */
    float: left;
    width: 470px;
    padding: 10px;
    font-family: "Roboto-Light";
}

.googleEsq h1 {
    font-size: 50px;
    margin: 10px 0;
    color: #ffffff;
}

.googleEsq p{
    font-size: 24px;
    color: #b0b0b0;
}

.googleDir {
    /* background-color: #359df1; */
    font-family: "Roboto-Light";
    padding: 10px;
    width: 600px;
    float: right;
    margin-top: 20px;
}

.googleDir p{
    font-size: 18px;
    color: #b0b0b0;
}
.contas {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contas li, .usar-outra-conta  {
    display: flex;
    padding-bottom: 26px;
    padding-top: 26px;
    cursor: pointer;
    border-bottom: 1px solid #3a3a3a;
}

.contas a{
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.contas li:last-child {
    border-bottom: none;
}

.contas img.avatar, .usar-outra-conta img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.contas .nome {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}

.contas .email {
    font-size: 20px;
    color: #b0b0b0;
    display: block;
}

/* "Usar outra conta" */
 .usar-outra-conta {
    margin-top: -30px;
    width: 600px;
    display: flex;
    align-items: center;

}

.usar-outra-conta span{
    font-family: "Roboto-Light";
    font-size: 20px;
}

/* INSCREVER-SE COM O APPLE */
.container-apple {
    overflow: hidden;
    width: 1350px;
    height: 620px;
    margin: 50px auto;
    background-color: #ffffff;
    color: #000;
    border-radius: 28px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.cabecalho-apple {
    font-family: "Roboto-Light", sans-serif;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3a3a3a;
    font-size: 20px;
    color: #3a3a3a; 
    text-align: center;
}

.cabecalho-apple img{
    padding: 12px;
}

.cabecalho-apple2 {
    font-family: "Roboto-Light", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
    font-size: 20px;
    color: #3a3a3a; /* Consistência com o cabeçalho */
    text-align: center;
}

.cadastro-apple {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campoApple {
    width: 360px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.campoApple input {
    font-size: 16px;
    outline: none;
    color: #000000;
    border: 1px solid #86868b;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
}

.campoApple input:focus{
    border-color: #007bff;
}

.campoApple label {
    position: absolute; 
    top: 10px; 
    left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    pointer-events: none; 
    transition: all 0.3s ease; 
}

.campoApple input:focus + label,
.campoApple input:not(:placeholder-shown) + label {
    font-size: 10px; 
    color: #007bff;
    top: -10px;
    left: 8px; 
    background-color: white; 
    padding: 0 4px; 
}

.avancar-branco{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 315px;
    margin: 10px 0;
    border-radius: 20px;
    font-family: "Chirp-Bold";
    font-size: 14px;
    border: 1px solid #707070;
    background-color: #ffffff;
    color: #000;
}

.avancar-branco:hover{
    background-color: #e8e4e4;
    border-color: #007bff;
    color: #007bff;
    transition: 0.2s ease;
}
 /* ---CRIAR CONTA--- */
 .criarConta {
    background-color: #000000;
    max-width: 600px;
    transform: translate(190%, 10%);
    align-items: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    text-align: center; 
    padding: 20px; 
}  

.campo {
    position: relative;
    margin-bottom: 40px; 
    width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 

}

input {
    width: 360px;
    height: 35px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #707070;
    border-radius: 4px;
    outline: none;
    color: #fff;
    background: #000;
}

/*  */

.botaoAvancar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 315px;
    margin: 10px 0;
    border-radius: 20px;
    font-family: "Chirp-Bold";
    font-size: 14px;
    border: 1px solid #707070;
    background-color: #000;
    color: #359df1;}

    .botaoAvancar:hover{
    background-color: #08141c;
    transition: 0.2s ease;
    }

    /* ---ENTRAR--- */
    .container-entrar{
        max-width: 600px;
        transform: translate(110%, 25%);
        align-items: center;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        text-align: center; 
        padding: 20px; 
        }

        .container-entrar .campo{
        position: relative;
        width: 100%; 
        display: flex;
        flex-direction: column; 
        align-items: center; 
        }

        .container-entrar input{
            width: 300px;
        }

       .botoes-entrar, .cadastro-entrar{
            padding: 15px;
       }

/* ---RODAPÉ GERAL--- */
footer {
    color: rgb(113, 118, 123);
    font-size: 13px; 
    font-family: "Roboto-Light";
    margin-top: 100px;
    text-align: center;
}

footer nav {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

footer nav a {
    cursor: pointer;
    color: rgb(113, 118, 123);
    text-decoration: none;
    transition: color 0.3s;
}

footer nav a:hover {
    color: white;
}
